body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

section {
    float: left;
    width: 70%;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}

aside {
    float: left;
    width: 30%;
    background-color: #ddd;
    padding: 20px;
    height: 300px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    clear: both;
}
